body {
    background-color: var(--color-tan);
    height:100%;
    display:grid;
    grid-template-rows: 4.5em auto 3em;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: var(--color-brown-medium);
    color: var(--color-light);
    position: relative;
}

header h1 {
    margin:0;
    padding: 0.8rem 0 1.2rem 0;
    font-size: 2.4rem;
}

.back-arrow {
    height: 2em;
    width:0.9rem;
    position:absolute;
    transform: translate(-50%, -50%);
    top:53%;
    left: 2rem;
    z-index: 3;
    cursor: pointer;
}

.button-area {
    display:flex;
    justify-content: space-evenly;
}



.calendar-list-area {
    max-width: 800px;
    margin: 0 auto;
    width:100%;
}
.calendar-item {
    display:grid;
    grid-template-columns: 8fr 14fr 1fr;
    border-bottom: 2px solid var(--color-brown-medium);
    padding:1rem 1rem 0.8rem 1rem;
}
.calendar-item p {
    margin:auto 0;
}
.calendar-item .delete {
    text-align: center;
}


.form-block {
    max-width: 500px;
    margin:0 auto 1rem auto;
    width:100%;
}
.form-block > .input-field {
    width:100%;
    box-sizing: border-box;
}
.error-message {
    text-align: center;
}
#createCalendarBtn {
    display:block;
    margin:0.5rem auto;
}